.venv
.vscode
*.egg-info
__pycache__
.pytest_cache
*.png
*logging.txt
*.hdf5
*.ipynb*
*nohup.out
experiments/phasevel/realdatainvs
experiments/phasevel/ekstrom
experiments/phasevel/run_realdatainvs.sh
experiments/weaklensing/read.py
experiments/weaklensing/run.sh
experiments/weaklensing/takahasi_4096_000_zs16_kappa.fits
*.npz
*.npy
docs/_build
docs/_static
docs/templates
dist