.venv
.vscode
*.egg-info
__pycache__
.pytest_cache
*.png
*logging.txt
*.hdf5
*.ipynb*
*nohup.out
experiments/phasevel/realdatainvs
experiments/phasevel/ekstrom
experiments/phasevel/run_synth.sh
experiments/phasevel/run_realdatainvs.sh
experiments/weaklensing/read.py
experiments/weaklensing/run.sh
experiments/weaklensing/*.fits
experiments/weaklensing/*.dat
*.npz
*.npy
docs/_build
docs/_static
docs/templates
dist